In [1]:
import pandas as pd

In [2]:
ls

contrib/  db.sqlite3  manage.py*  README.md         Untitled1.ipynb
data.csv  grafica/    models.png  requirements.txt  Untitled.ipynb

In [3]:
filename = 'data.csv'

In [4]:
df = pd.read_csv(filename)

In [5]:
df

       nome               email  telefone            cnpj
0      Abel      abel@email.com  80706969  65345559000107
1   Beatriz   beatriz@email.com  57707609  16782571000165
2     Carla     carla@email.com  12380900  10191220000101
3  Fernanda  fernanda@email.com  69563445  54622310000177

In [6]:
df.T

,0,1,2,3
nome,Abel,Beatriz,Carla,Fernanda
email,abel@email.com,beatriz@email.com,carla@email.com,fernanda@email.com
telefone,80706969,57707609,12380900,69563445
cnpj,65345559000107,16782571000165,10191220000101,54622310000177

In [7]:
items = df.T.apply(dict).tolist()

In [8]:
items

[{'nome': 'Abel',
  'email': 'abel@email.com',
  'telefone': 80706969,
  'cnpj': 65345559000107},
 {'nome': 'Beatriz',
  'email': 'beatriz@email.com',
  'telefone': 57707609,
  'cnpj': 16782571000165},
 {'nome': 'Carla',
  'email': 'carla@email.com',
  'telefone': 12380900,
  'cnpj': 10191220000101},
 {'nome': 'Fernanda',
  'email': 'fernanda@email.com',
  'telefone': 69563445,
  'cnpj': 54622310000177}]

In [9]:
for item in items:
    print(item)

{'nome': 'Abel', 'email': 'abel@email.com', 'telefone': 80706969, 'cnpj': 65345559000107}
{'nome': 'Beatriz', 'email': 'beatriz@email.com', 'telefone': 57707609, 'cnpj': 16782571000165}
{'nome': 'Carla', 'email': 'carla@email.com', 'telefone': 12380900, 'cnpj': 10191220000101}
{'nome': 'Fernanda', 'email': 'fernanda@email.com', 'telefone': 69563445, 'cnpj': 54622310000177}

In [10]:
aux = []
for item in items:
    aux.append(Cliente(**item, tipo='c', uf='SP'))

In [11]:
Cliente.objects.bulk_create(aux)